<div class="container-fluid">
  <section id="title">
    <div class="jumbotron">
      <h1>Nozama</h1>
      <h3>Products Dashboard</h3>
    </div>
  </section>
  <section id="links">
    <div class="container-fluid">
      <!-- TODO: Make me pretty -->
      <div class="row"><a href="#" data-deleteProduct>Delete Product</a></div>
      <div class="row"><a href="#" data-addProduct>Add a Product</a></div>
      <div class="row"><a href="#" data-updateProduct>Update Product</a></div>
      <div class="hidden" id="product-id-area">
        <form id="product-id-form">
          <div class="row">
            <div class="form-group col-xs-12 col-sm-4">
              <input name="product[id]" type="input" class="form-control" placeholder="Product ID" required>
            </div>
            <div class="col-xs-12 col-sm-4">
              <button class="btn btn-secondary" data-cancelProductId>Cancel</button>
              <button type="submit" class="btn btn-primary" data-submitProductId>Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section id="purchase-history"></section>
</div>
