$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// TODO: Get this out of here
.modal-backdrop {
  .in {
    filter: alpha(opacity=50);
    opacity: 0;
  }
}

.small-product {
  display: block;
  height: 25vw;
  margin: auto;
  width: 25vw;
}

.search-box {
  margin: auto;
}

.jumbotron {
  h1 {
    text-align: center;
  }
}

.modal-img {
  display: block;
  height: 50vh;
  margin: auto;
  width: 50vh;
}

.product-title {
  text-align: center;
}

.footer-space {
  margin-right: 15px;
}

.button-place {
  bottom: 10px;
  padding: 10px;
  position: absolute;
  right: 10px;
}

.price-place {
  font-size: 20px;
  margin-left: 25px;
}

.get-failure {
  height: 78vh;
  text-align: center;
}

.modal-expand {
  height: 78vh;
}

.empty-modal {
  height: 78vh;
  text-align: center;
}

.row-vextor {
  display: table-row;
  height: 100%;
}

.row {
  .no-float {
    display: table-cell;
    float: none;
  }
}

.vertical-rule-left {
  border-left-style: solid;
}

.dead-link {
  pointer-events: none;
}

div.accordion-row:hover {
  background-color: #6bbaa7;
  border-radius: 8px;
  font-size: 120%;
  padding: 10px;
}
